# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
pip-log.txt
pip-delete-this-directory.txt

# Environment variables
.env

# Database
*.sqlite
*.db

# Project output/generated
tests/
tests/storage/
tests/storage_mock/
tests/zotero_mock.sqlite

# System
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
